@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
}

#hero {
    background-color: #769841;
}

#content {
    background-color: #EDEDE9;
}

.hero-child {
    margin-top: 50px;
    text-align: center;
}

h1.heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

p.child-slogan {
    color: #fff;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

img.img-produk {
    width: 200px;
    margin-top: 30px;
    text-align: center;
}

.col-12.col-md-4 {
    text-align: center;
}

#master img {
    width: 100px;
}


/* Content */


#img-content img {
    width: 200px;
    margin-top: 30px;

}

#img-content {
    text-align: center;
}


div#deskripsi-content {
    margin-top: 2em;
    text-align: center;
}

.p-content {
    font-size: 12px;
    text-align: justify;
}

#btn-content {
    text-align: center;
}

/* CSS Content Selesai */


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .col-12.col-md-4 {
        right: 40px;
        margin-top: 20px;
    }
    img.img-produk {
        width: 250px;
    }
    h1.heading {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 45px;
        color: white;
    }
    p.child-slogan {
        color: #fff;
        font-size: 19px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }
    .hero-child {
        margin-top: 50px;
        text-align: left;
        margin-right: 50px;
    }
    .col-12.col-md-8 {
        left: 5em;
        margin-top: 100px;
    }
    #master img {
        width: 150px;
        
    }


    /* Content */
    #content {
        width: auto;
        background-color: #EDEDE9;

    }

    img.img-in-content {
        width: 200px;
        margin-right: 50px;
    }

    #img-content {
        margin-top: 50px;
    }

    #img-content img {
        width: 250px;
    }

    div#deskripsi-content {
        right: 100px;
    }
    

    div#deskripsi-content {
        margin-top: 5em;
        text-align: left;
        color: #769841;
    }


    .p-content {
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: justify;
    }

    #btn-content {
        text-align: center;
    }

    /* Finish Content */
}








